
{% extends "layout.twig" %}

{% block content %}

<header>
    <div class="wrapper clearfix">

        <div class="navigation">
        {{widget('menusections', 'menusections1', {})|raw}}
        </div> <!--end navigation-->

        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "Pizza Vicenza"})|raw}}
        </div>
       
    </div><!--end wrapper clearfix-->
</header>

<div>
    {{widget('menu', 'menu1', {})|raw}}
</div>


<footer>
    <div class="wrapper clearfix">
        {{widget('content', 'footercolumn1content', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
    </div>
    
</footer>

{% endblock %}
